@model IEnumerable<BusinessLayer.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="_body">
    <thead>
        <tr>
            <th style="width:12.5%;">
                @Html.DisplayNameFor(model => model.Banner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instructions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfPublish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @{
                            var base64 = Convert.ToBase64String(item.Banner);
                            var Image = String.Format("data:image/gif;base64,{0}", base64);
                            <img src="@Image" style="width: 100%"/>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td class="instrs">
                        @Html.DisplayFor(modelItem => item.Instructions)
                    </td>
                    <td>
                        @{
                            var displayValue = item.DateOfPublish.Date.ToShortDateString();
                            @displayValue
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User.UserName)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
</table>

<script>
    var allElemets = document.getElementsByClassName('instrs');

    document.getElementById('_body').addEventListener('load', loadData());

    function loadData(){
        for(var i = 0; i < allElemets.length; i++){
            allElemets[i].innerHTML = allElemets[i].innerText;
        }
        
    }
</script>
