@page
@model RecipiesModel
@{
    ViewData["Title"] = "Your Recipies";
    ViewData["ActivePage"] = ManageNavPages.Recipies;
}
<link type="text/css" href="~/css/ManagerStyle.css">
<div style="display:flex; justify-content:space-between;">
    <h3>@ViewData["Title"]</h3>
    <a asp-controller="Recipes" asp-action="Create" class="nav-link" id="recipe-create-link">Add New Recipe</a>
</div>

<div class="row justify-content-evenly">
    @foreach (var r in Model.UserRecipes)
    {
        <div class="recipe-con col-md-4 shadow p-2 text-center m-2 align-self-stretch" style="padding-top: 20px;min-width: 250px; max-width:300px;min-height: 500px">
            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@r.Id" class="recipe-redirect">
                <div class="img-container justify-content-center" style="padding: 15px; height: 300px; width: 100%;">
                    @{
                        var base64 = Convert.ToBase64String(r.Banner);
                        var Image = String.Format("data:image/gif;base64,{0}", base64);
                        <img src="@Image"/>
                    }
                </div>
                <div class="recipe-name" style="margin: 20px; height: 70px">
                    <h2>@r.Title</h2>
                </div>
                <div class="recipe-info" style="margin: 20px; min-height: 100px">
                    <p>@r.Description</p>
                </div>
                <a asp-controller="Recipes" asp-action="Delete" asp-route-id="@r.Id" class="delete-button hover-button" style="transition: none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </a>
                <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@r.Id" class="edit-button hover-button" style="transition: none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-pencil" viewBox="0 0 16 16">
                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                    </svg>              
                </a>

            </a>
        </div>
    }
</div>

<style>
    .recipe-redirect{
        cursor: pointer;
        text-decoration: none;
        color:black;
    }
    .recipe-redirect:hover{
        color: black;
    }
    .recipe-con > div{
        display: block;
        min-width: 300px;
    }
    .recipe-con{
        position: relative;
    }
    .recipe-con *:not(.delete-button){
        transition-duration: 0.1s;
    }
    .recipe-con:hover *:not(.delete-button){
        transform: scale(1.01);
    }
    .recipe-con:hover .hover-button{
        transform: scale(1);
        transition-duration: 0s;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .recipe-name, .recipe-info{
        margin: 20px;
    }
    .recipe-name h2{
        font-size: 1.3em;
        text-transform: uppercase;
    }
    .img-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img-container img {
        width: 80%;
        max-height: 300px;
    }
    .recipe-container-edit .recipe-title p {
        font-size: 180px;
    }
    .recipe-container-edit .recipe-description p {
        font-size: 18px;
    }
    .recipe-container-edit {
        width: 35%;
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        margin: 0 auto;
        padding: 0.5%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .delete-button{
        position:absolute;
        right: 20px;
        top: 20px;
        background-color:none;
        border: 0.5px solid red;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        display: none;
        fill: red;
        transition-duration: 0s;
    }
    .delete-button:hover{
        fill: white;
        background-color: red;
        transition-duration: 0s;
    }
    .edit-button{
        position:absolute;
        left: 20px;
        top: 20px;
        background-color:none;
        border: 0.5px solid green;
        width: 30px;
        height: 30px;
        border-radius: 2px;
        display: none;
        fill: green;
        transition-duration: 0s;
    }
    .edit-button:hover{
        fill: white;
        background-color: green;
        transition-duration: 0s;
    }
</style>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
}
